{
  "AWSEBDockerrunVersion": "2",
  "containerDefinitions": [
    {
      "name": "sportywide-email",
      "image": "sportywide/sportywide-email:<EMAIL_VERSION>",
      "essential": false,
      "memory": 128
    },
    {
      "name": "sportywide-api",
      "image": "sportywide/sportywide-api:<API_VERSION>",
      "essential": true,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 5000
        }
      ],
      "memory": 256
    }
  ]
}
