webpack.config.js
gulpfile.js
.vagrant
.s3
.dynamodb
e2e/api/reports
.idea/
dist
.DS_Store
._*
coverage
node_modules/
.npm
.eslintcache
next-build
.serverless/
.dynamodb/
cdk.out
.semaphore/secrets
.terraform
.next

