SW_POSTGRES_DB=sportywide
SW_POSTGRES_USER=sw-user
SW_POSTGRES_PASSWORD=sw-password
SW_POSTGRES_PORT=5432

SW_REDIS_PORT=6379

SW_MAILHOG_UI_PORT=8025
SW_MAILHOG_TRANSPORT_PORT=1025

SW_FACEBOOK_CLIENT_SECRET=<your facebook secret>
SW_GOOGLE_CLIENT_SECRET=<your google secret>
