{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "sportywide/sportywide-web:<WEB_VERSION>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000",
      "HostPort": 80
    }
  ]
}
