.sw-align-center {
	text-align: center;
}

.sw-align-right {
	text-align: right;
}

.sw-align-baseline {
	vertical-align: baseline;
}
.sw-align-top {
	vertical-align: top;
}
.sw-align-middle {
	vertical-align: middle;
}
.sw-align-bottom {
	vertical-align: bottom;
}
