.email-content {
	padding: 10px 0 30px 0;
}
.email-table {
	border-collapse: collapse;
	width: 600px;
	border: 1px solid get($colors, 'grey');

	&__logo {
		padding: 40px 0 30px 0;
		font-size: 28px;
		font-weight: bold;
	}

	&__header {
		margin-top: 10px;
		color: get($colors, 'white');
	}
}
